.about-details {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.left {
  padding: 50px;
}

.greeting {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 15px;
}

.question {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-p {
  width: 70ch;
  text-justify: auto;
  line-height: 1.5em;
  opacity: 0.6;
}

.right-img {
  width: 500px;
  height: 340px;
  border-radius: 20px;
}

.btn.jp {
  margin-top: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  width: 20%;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .about-details {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .left {
    margin-top: 20px;
    padding: 0px;
  }

  .about-p {
    width: 40ch;
  }

  
  .right-img {
    width: 100%;
    height: 100%;
    margin-left: -10px;
  }

  .btn.jp {
    width: 40%;
  }
}
