.page-details {
  margin-left: 20px;
  margin-right: 20px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
}

.card-sm-3 {
  padding: 10px;
  margin-bottom: 30px;
}

.card-s-body {
  width: 100%;
  height: 280px;
  border-radius: 25px;
  background-color: #dcdcdc;
}
.card-s-details {
  margin-top: 15px;
}

.date-info {
  opacity: 0.7;
}

.card-s-title {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.card-s-p {
  margin-top: 10px;
  /* width: 55ch; */
}


@media screen and (max-width: 600px) {
  .page-details {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card-s-body {
    /* width: 50%; */
  }

  .card-sm-3 {
    width: 100%;
  }

  .card-s-p {
    width: 40ch;
  }
}