.main-page {
  margin-left: 30px;
  margin-right: 20px;
}

.message {
  margin-top: 50px;
}

.talk {
  opacity: 0.5;
  font-size: 15px;
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  margin-bottom: 50px;
}

.cart-info {
  display: flex;
  justify-content: space-between;
}

.cart-table {
  width: 60%;
  /* background-color: red; */
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid rgb(206, 199, 199);
}

th {
  text-align: start;
  padding: 10px;
  color: rgb(206, 199, 199);
}

.items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* background-color: red; */
  width: 60%;
}

.cart-img {
  padding: 10px;
  background-color: silver;
  border: none;
  border-radius: 20px;
  width: 40%;
}

.cart-card-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cart-name {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 10px;
}

.item-color {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.item-number {
  font-weight: bold;
  font-size: 13px;
}

.price, .quantity {
  position: relative;
  top: -50px;
  padding: 10px;
}



/* 
.quantity {
  display: flex;
  border-radius: 10px;
  background-color: silver;
  width: 5%;
  height: 5%;
}

.amount,.increase,.decrease {
  padding: 3px;
}

.amount {
  border-right: 1px solid black;
  padding: 10px;
} */

/* ORDER SUMMARY */

.summary-cart {
  width: 28%;
  /* background-color: antiquewhite; */
}

.order-sumary-card {
  background-color: rgb(246, 243, 243);
  padding: 10px;
  border-radius: 5px;
  /* width: 70%; */
  /* height: 430px; */
  height: fit-content;
}
.order-header {
  text-align: center;
  padding: 10px;
}

.fw-5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.promo-from {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 70%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.btn-red {
  width: 25%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sum {
  margin-top: 30px;
}

.order-foot {
  margin-top: 30px;
}

.btn.bg-red {
  margin-top: 90px;
  padding: 7px;
  width: 90%;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-left: 20px;
}
