.main {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 150px;
}

.jumbotron {
  background-image: none;
  /* background-color: white; */
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* SIDEBAR */

.sidebar {
  background-color: rgb(246, 197, 197);
  padding: 30px;
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.step-logo {
  margin-bottom: 50px;
}
.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.between {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.checkbox {
  padding: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
}

.checkbox.red {
  background-color: red;
}

.step-title {
  font-size: 13px;
  margin-left: 40px;
}
/* SIDEBAR ENDS */

/* FORM */

.form {
  width: 40%;
  /* background-color: red; */
  padding: 10px;
  margin-left: -80px;
}

.which-step-sm {
  font-size: 10px;
  color: grey;
}

.step-title-md {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.step-desc {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.5;
}
.form-input {
  width: 100%;
  padding: 13px;
  background-color: rgb(225, 223, 223);
  border: none;
  border-radius: 5px;
}

label {
  font-size: 12px;
  position: relative;
  top: 9px;
  left: 20px;
  background-color: whitesmoke;
}

.double {
  display: flex;
  justify-content: space-between;
}

.double.btn {
  margin-top: 80px;
}

.btn-redirect {
  padding: 8px;
  border: 1px solid red;
  border-radius: 30px;
  background-color: inherit;
  color: red;
  width: 30%;
}

.btn-redirect:hover {
  background-color: red;
  color: white;
}


.btn-form {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 40px;
  background-color: red;
  color: white;
}

.btn-form:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

/* FORM ENDS */

/* SHIPMENT */
.shipment-cards {
  width: 45%;
  padding: 10px;
}

.shipment-type-card {
  padding: 15px;
  width: 100%;
  border: 1px solid rgb(206, 204, 204);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.double.ship {
  margin-top: 10px;
}

.type {
  color: gray;
  opacity: 0.8;
  font-weight: lighter;
}

.selected-option {
  border: 1px solid red;
  background-color: red;
}

/* SHIPMENT ENDS*/

/* PAYMENT */

.payment {
  width: 45%;
}

/* PAYMENT ENDS */

/* ORDER SUMMARY */

.summary {
  width: 30%;
  /* background-color: antiquewhite; */
}

.order-sumary-card {
  background-color: rgb(246, 243, 243);
  padding: 10px;
  border-radius: 5px;
  /* width: 70%; */
  height: 430px;
}
.order-header {
  text-align: center;
  padding: 10px;
}

.fw-5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.promo-from {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  width: 70%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.btn-red {
  width: 25%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sum {
  margin-top: 30px;
}

.order-foot {
  margin-top: 30px;
}
