.contact-details {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 30px;
}

.left {
  padding: 50px;
}

.greeting {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 15px;
}

.question {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contact-p {
  /* width: 70ch; */
  text-justify: auto;
  line-height: 1.5em;
  opacity: 0.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-input {
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: #e7e7e7;
  width: 80%;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-input.textarea {
  width: 90%;
  height: 300px;
}

.btn-submit {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 30%;
}

   
.right-img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .contact-details {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10px;
  }

  .right-img {
    width: 100%;
    height: 100%;
  }

  .left {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .contact-p {
    width: 45ch;
  }

  .form-input {
    width: 90%;
  }
  .form-input.textarea {
    width: 90%;
  }
}
