@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 5px;
  width: 80%;
}

.nav-logo-text {
  margin-left: 10px;
}

.cr-red {
  color: #f42c37;
}

.logo {
  display: inline-block;
  width: 30px;
  height: 30px;
}

li {
  list-style-type: none;
}

li.nav-list {
  float: left;
}

a.nav-link {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  font-weight: bold;
}

a.nav-link.active {
  opacity: 1;
}

li.nav-list,
a.nav-link {
  display: block;
  padding: 10px;
}

.navbar {
  width: 100%;
}

.navbar.end {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 30%;
  padding: 10px;
}

.navbar-btn {
  padding: 10px;
  border-radius: 20px;
  width: 90px;
  border: none;
  background-color: #f42c37;
  color: white;
}
.nav-toggle {
  display: none;
}

.link-s {
  color: black;
}

@media screen and (max-width: 600px) {
  nav {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 100;
  }
  .navbar {
    display: none;
  }
  .navbar.end {
    margin-right: -10px;
    width: 55%;
  }

  .navbar-btn {
    padding: 8px;
    width: 60px;
  }
  .nav-toggle {
    display: block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
}

.showNav {
  position: fixed;
  margin-top: 50px;
  margin-left: -25px;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 100;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  nav {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 100;
  }
  .navbar {
    display: none;
  }
  .navbar.end {
    margin-right: -10px;
    width: 30%;
  }

  .navbar-btn {
    padding: 8px;
    width: 60px;
  }
  .nav-toggle {
    display: block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
}
