
.sidebar-toggle {
  display: none;
  padding: 5px;
  border: none;
  border-radius: 30x;
  margin-left: 20px;
  margin-top: 20px;
  /* background-color: inherit; */
}

@media screen and (max-width: 600px) {
  .sidebar-toggle {
    display: block;
  }
}



/* ASIDE */

aside {
  width: 25%;
  margin-top: 30px;
  position: absolute;
}

.sidebar {
  padding: 20px;
}

input.search-p {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #dcdcdc;
  width: 85%;
}

.btn-search {
  padding: 7px;
  border: none;
  border-radius: 50px;
  background-color: #7e7e7e;
  color: white;
  position: absolute;
  margin-left: -30px;
  margin-top: 3px;
}


.product-type {
  margin-top: 30px;
  border-bottom: 1px solid #dcdcdc;
}

.p-title {
  font-size: 20px;
  font-weight: bold;
}

.categories {
  padding: 20px;
  margin-left: 20px;
  line-height: 30px;
}

a.prod-list-link {
  opacity: 0.5;
  font-weight: 600;
}

a.prod-list-link.active {
  color: black;
  opacity: 1;
}

.price-range {
  margin-top: 30px;
}

.range-price {
  margin-top: 20px;
}


input[type=range] {
  width: 90%;
}


.range {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-filter {
  border: none;
  border-radius: 20px;
  padding: 5px;
  background-color: #7e7e7e;
  width: 80%;
  margin-top: 50px;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}

/* MAIN */

main {
  margin-top: 30px;
  margin-left: 23%
  /* margin-right: 20px; */

}

@media screen and (max-width: 600px) {
  main {
    margin-left: 0;
  }
}

/* PRODUCT CARD */

.product-card {
  display: grid;
  grid-template-columns: auto auto auto;
}


@media screen and (max-width: 600px) {
  .product-card {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: auto auto;
  }

}


/* CARD */
.card-sm-2 {
  padding: 10px;
}

.card-body {
  width: 90%;
  height: 250px;
  border-radius: 15px;
  background-color: #7e7e7e;
}

.card-foot {
  margin-top: 10px;
}

.card-price {
  font-size: 15px;
  width: 70%;
  margin-left: 40px;
  /* background-color: red; */
}

.btn-content {
  padding: 5px;
  border-radius: 20px;
  width: 100px;
  border: none;
  background-color: #7e7e7e;
  color: white;
}

.btn-content.pr {
  margin-top: 10px;
}

@media screen and (max-width:600px) {
  .card-sm-2 {
    /* background-color: red; */
    width: 100%;
  }
  .card-body {
    width: 100%;
  }
}


.pagination {
  margin-top: 20px;
  margin-bottom: 50px;
}

.pagin {
  padding: 10px;
}

li.pagin-list {
  float: left;
}

li.pagin-list,a.pagin-link {
  padding: 5px;
}

a.pagin-link.active {
  background-color: #7e7e7e;
  border: none;
  border-radius: 5px;
  color: white;
}


