body{
  overflow-x: hidden;
  max-width: 100vw;
}

main {
  padding: 15px;
  margin-top: -20px;
}

/* Jumbotron */

.jumbotron {
  width: 100%;
  height: 670px;
  padding: 40px;
  padding-top: 90px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #dcdcdc, #e7e7e7);
}

.jb-image {
  position: absolute;
  top: 150px;
  left: 30%;
}

.content {
  margin-left: 40px;
}

.rl-title-1 {
  font-size: 1.3em;
}

.rl-title-2 {
  font-size: 5em;
}

.title {
  font-size: 13em;
  color: rgba(255, 255, 255, 0.8);
}

.btn.jp {
  margin-left: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f42c37;
  color: white;
  font-size: 10px;
}

.desc-title {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}

.content-desc {
  display: flex;
  justify-content: end;
}

p.desc-content {
  width: 40ch;
}

@media screen and (max-width: 600px) {
  .jumbotron {
    padding: 30px;
    height: 555px;
    margin-top: 75px;
  }

  .content {
    margin-left: 0;
    margin-top: 50px;
    /* background-color: red; */
    padding-right: 50px;
  }

  .rl-title-1 {
    font-size: 1.4em;
  }

  .rl-title-2 {
    font-size: 3em;
  }

  .title {
    font-size: 52px;
    /* color: red; */
    margin-top: 25px;
  }

  .content-foot {
    margin-top: 50px;
  }

  .jb-image {
    width: 70%;
    top: 150px;
    left: 60px;
    /* background-color: red; */
  }
}

/* CARDS */

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card-sm-1 {
  background-color: #dcdcdc;
  width: 24%;
  height: 320px;
  border-radius: 15px;
  padding: 40px;
  color: white;
}

.card-detail {
  position: relative;
  padding-top: 40px;
  margin-left: -20px;
  z-index: 10;
}

.fs-4 {
  font-size: 15px;
  font-weight: lighter;
}

.fs-3 {
  font-size: 30px;
}

.fs-2 {
  font-size: 60px;
}

.card-sm-1.one {
  background-color: #1f1f1f;
}

.card-btn.one {
  position: relative;
  left: -25px;
  bottom: 140px;
  padding: 40x;
}

.card-sm-1.two {
  background-color: #7e7e7e;
}

.card-btn.two {
  position: relative;
  left: -25px;
  bottom: 162px;
  padding: 40x;
}

.card-sm-1.three {
  background-color: rgba(105, 244, 105, 0.933);
  position: relative;
  z-index: 0;
}

.card-btn.three {
  position: relative;
  left: -20px;
  top: 60px;
  bottom: 230px;
  /* padding: 40x; */
}



.card-sm-1.four {
  background-color: rgba(49, 92, 209, 0.933);
}

.card-btn.four {
  position: relative;
  left: -25px;
  bottom: 162px;
  padding: 40x;
}

.card-img {
  position: relative;
  top: -190px;
  left: 10px;
  /* background-color: red;*/
}

.card-img.three {
  position: absolute;
  z-index: 0;
  inset-inline-end: 0;
  inset-block-start: 40px;
  width: 410px;
  left: -80px;
}

.card-lg {
  background-color: #dcdcdc;
  width: 45%;
  height: 320px;
  border-radius: 15px;
}

.card-lg.one {
  background-color: #f42c37;
}

.card-detail-lg {
  padding: 20px;
  margin-top: 70px;
  color: white;
  z-index: 10;
}

.card-detail-lg > .fs-2 {
  opacity: 0.5;
  font-size: 70px;
}

.card-img.lg-one {
  width: 50%;
  margin-left: 200px;
}

.card-btn.lg-one {
  position: relative;
  margin-left: 40px;
  bottom: 185px;
  width: auto;
}

.btn-card.lg-one {
  background-color: white;
  color: red;
}

.btn-card {
  border-radius: 20px;
  padding: 5px;
  border: none;
  background-color: #f42c37;
  color: white;
  width: 80px;
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card-sm-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .card-lg {
    width: 100%;
    height: 280px;
    /* background-color: red; */
    margin-bottom: 20px;
  }

  .card-img.lg-one {
    width: 60%;
    margin-left: 100px;
  }

  .card-btn.lg-one {
    width: 50%;
  }
  .card-img.three {
    width: auto;
    inset-block-start: 130px;
    left: 0;
  }
  
}

/* INFO */

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .info {
    padding: 5px;
  }
}

/* CONTENT-2 */

.content-2 {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #dcdcdc;
  border-radius: 20px;
  height: 350px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.content-2.one {
  background-color: #f42c37;
  color: white;
}

.content-2.two {
  background-color: rgb(56, 230, 56);
  color: black;
}

.desc-one {
  /* padding: 20px; */
  margin-left: 120px;
}

.per-off {
  font-size: 20px;
  opacity: 0.5;
}

.desc-gb-1 {
  font-size: 100px;
  width: 1ch;
}

.desc-bg-3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.desc-bg-2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.desc-p {
  width: 70ch;
  /* margin-bottom: 10px; */
  margin-top: 30px;
  font-weight: 550;
}

.btn-links {
  width: fit-content;
  margin-left: 20px;
}

.btn-content {
  padding: 5px;
  border-radius: 20px;
  width: 90px;
  border: none;
  background-color: #7e7e7e;
  color: white;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .content-2 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    padding: 20px;
  }
  .desc-one {
    margin-left: 30px;
    margin-top: 30px;
  }

  .desc-gb-1 {
    font-size: 50px;
    width: 100%;
  }

  .desc-p {
    width: 35ch;
    /* margin-bottom: px; */
  }
}

/* PRODUCT */

.section-header {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.ph-bg-1 {
  font-size: 40px;
}

.ph-bg-2 {
  font-size: 1.3rem;
  opacity: 0.5;
}

.product-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card-sm-2 {
  padding: 10px;
  margin-bottom: 40px;
}

.card-body {
  width: 100%;
  height: 250px;
  /* image-rendering: ; */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body-img {
  width: 210px;
  margin-top: 15px;
  margin-left: 35px;
}

.card-foot {
  margin-top: 20px;
}

.btn-content.pr {
  margin-top: 20px;
  margin-left: -25px;
  padding: 10px;
  background-color: #f42c37;
}

@media screen and (max-width: 600px) {
  .section-header {
    padding: 10px;
  }

  .ph-bg-1 {
    font-size: 25px;
  }

  .ph-bg-2 {
    font-size: 1rem;
  }

  .product-card {
    display: grid;
    grid-template-columns: auto;
  }

  .card-body-img {
    width: 220px;
    /* margin-top: 15px; */
    margin-left: 50px;
  }

  .card-foot {
    margin-left: 20px;
  }
}

/* BLOG */
.card-sm-3 {
  padding: 10px;
  width: 34%;
}

.card-s-body {
  width: 100%;
  height: 280px;
  border-radius: 25px;
  background-color: #dcdcdc;
}
.card-s-details {
  margin-top: 15px;
}

.date-info {
  opacity: 0.7;
}

.card-s-title {
  margin-top: 10px;
  font-size: 20px;
}

.card-s-p {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .card-sm-3 {
    width: 100%;
  }
}
