main {
  padding: 15px;
}

/* Jumbotron */

.jumbotron {
  width: 100%;
  height: 600px;
  padding: 50px;
  border-radius: 30px;
  /* background-color: #dcdcdc; */
  background-image: linear-gradient(to right, #dcdcdc, #E7E7E7);
}

.content {
  margin-left: 40px;
}

.rl-title-1 {
  font-size: 3em;
}

.rl-title-2 {
  font-size: 5em;
}

.title {
  font-size: 15em;
  color: rgba(255, 255, 255, 0.8);
}

.btn.jp {
  margin-left: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #F42C37;
  color: white;
  font-size: 10px;
}

.desc-title {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}

.content-desc {
  display: flex;
  justify-content: end;
}

p.desc-content {
  width: 40ch;
}

@media screen and (max-width: 600px) {
  .jumbotron {
    padding: 30px;
    height: 555px;
  }

  .content {
    margin-left: 0;
    margin-top: 50px;
    /* background-color: red; */
    padding-right: 50px;
  }

  .rl-title-1 {
    font-size: 1.4em;
  }

  .rl-title-2 {
    font-size: 3em;
  }

  .title {
    font-size: 65px;
    /* color: red; */
    margin-top: 25px;
  }

  .content-foot {
    margin-top: 50px;
  }
}

/* CARDS */

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.card-sm-1 {
  background-color: #dcdcdc;
  width: 26%;
  height: 280px;
  border-radius: 15px;
}

.card-lg {
  background-color: #dcdcdc;
  width: 45%;
  border-radius: 15px;
}

.btn-link {
  position: relative;
  bottom: -230px;
  /* background-color: red; */
  width: fit-content;
  margin-left: 20px;
}

.btn-card {
  border-radius: 20px;
  padding: 5px;
  border: none;
  background-color: #F42C37;
  color: white;
  width: 80px;
}

@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card-sm-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .card-lg {
    width: 100%;
    height: 280px;
    /* background-color: red; */
    margin-bottom: 20px;
  }
}

/* INFO */

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .info {
    padding: 5px;
  }
}

/* CONTENT-2 */

.content-2 {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #dcdcdc;
  border-radius: 20px;
  height: 280px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.desc-one {
  /* padding: 20px; */
  margin-left: 120px;
}

.per-off {
  font-size: 15px;
  opacity: 0.5;
}

.desc-gb-1 {
  font-size: 80px;
  width: 1ch;
}

.desc-two {
  /* padding: 10px; */
}

.desc-bg-3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.desc-bg-2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.desc-p {
  width: 70ch;
  margin-bottom: 20px;
}

.btn-links {
  width: fit-content;
  margin-left: 20px;
}

.btn-content {
  padding: 5px;
  border-radius: 20px;
  width: 90px;
  border: none;
  background-color: #7e7e7e;
  color: white;
}

@media screen and (max-width: 600px) {
  .content-2 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    padding: 20px;
  }
  .desc-one {
    margin-left: 30px;
    margin-top: 30px;
  }

  .desc-gb-1 {
    font-size: 50px;
    width: 100%;
  }

  .desc-p {
    width: 45ch;
    /* margin-bottom: px; */
  }
}

/* PRODUCT */

.section-header {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.ph-bg-1 {
  font-size: 40px;
}

.ph-bg-2 {
  font-size: 1.3rem;
  opacity: 0.5;
}

.product-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card-sm-2 {
  padding: 10px;
}

.card-body {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  background-color: #dcdcdc;
}

.card-foot {
  margin-top: 10px;
}

.btn-content.pr {
  margin-top: 5px;
  margin-left: -25px;
}

@media screen and (max-width: 600px) {
  .section-header {
    padding: 10px;
  }

  .ph-bg-1 {
    font-size: 25px;
  }

  .ph-bg-2 {
    font-size: 1rem;
  }

  .product-card {
    display: grid;
    grid-template-columns: auto;
  }
}

/* BLOG */
.card-sm-3 {
  padding: 10px;
  width: 34%;
}

.card-s-body {
  width: 100%;
  height: 280px;
  border-radius: 25px;
  background-color: #dcdcdc;
}
.card-s-details {
  margin-top: 15px;
}

.date-info {
  opacity: 0.7;
}

.card-s-title {
  margin-top: 10px;
  font-size: 20px;
}

.card-s-p {
  margin-top: 10px;
}


@media screen and (max-width: 600px) {
  .card-sm-3 {
    width: 100%;
  }
}